header.header#header
  h1.logo
    a(href="/") samples of PARALLAX
  .gnavContainer#gnavContainer
    .gnavBtn#gnavBtn
      span.gnavBtn_line
    nav.gnav#gnav
      ul.gnavList
        li: a(href="#sec001") scroll-snap
        li: a(href="#sec011") background-parallax
