main.main
  section.secTemp#sec001
    .container
      h2.secTemp_ttl スクロールスナップ
        span.secTemp_ttlEn scroll-snap
      p.secTemp_txt スクロール時に、決まった位置に移動する仕組み（スクロールスナップ）のサンプル。
      ul.tempList
        li.tempInfo
          a(href="/001_scrollsnap/")
            .tempInfo_pic
              img(src="/assets/images/img001.svg", alt="", width="100", height="100", loading="lazy")
            .tempInfo_detail
              h3.tempInfo_name スクロールスナップ（縦方向）
              p.tempInfo_txt 縦スクロールにより１画面ずつ縦方向に進む
        li.tempInfo
          a(href="/002_scrollsnap/")
            .tempInfo_pic
              img(src="/assets/images/img002.svg", alt="", width="100", height="100", loading="lazy")
            .tempInfo_detail
              h3.tempInfo_name スクロールスナップ（横方向）
              p.tempInfo_txt 横スクロールにより１画面ずつ横方向に進む
        li.tempInfo
          a(href="")
            .tempInfo_pic
              img(src="/assets/images/img003.svg", alt="", width="100", height="100", loading="lazy")
            .tempInfo_detail
              h3.tempInfo_name スクロールスナップ（横方向 / スクロールは縦方向）
              p.tempInfo_txt 縦スクロールにより１画面ずつ横方向に進む
