.page-backgroundAnimation.-backgroundAnimation041#backgroundanimation
  main.main
    section.sec
      .container
        .sec_contents
          h2.sec_ttl MEMO
            span 背景要素の移動（縦方向）
          p スクロールで背景の要素が移動する良くあるパララックス。<br>スクロールのイベントの監視が必要なので、GSAPを使用している。
    section.sec
      .container
        .sec_contents
          h2.sec_ttl Decorations go up
            span スクロールに合わせて上がっていく装飾
          p ３つあるロケットを上に移動させている。<br>手前（大きい）のロケットほど移動距離が長くなるよう設定している。（その方がそれっぽく見える）
          p 要素の移動終了位置（スクロールトリガーの終了位置）を「topの位置 + (移動px数 + 要素の高さ)」とすること！
          p
            |Labore deserunt labore anim magna cillum commodo ad officia. Adipisicing incididunt cupidatat in Lorem elit Lorem do magna. Esse laborum ut et id laborum consequat laboris. Eiusmod amet consequat id aliquip dolore labore amet do laborum voluptate do eu proident minim. Eiusmod dolore eu veniam veniam reprehenderit veniam. Deserunt labore sint reprehenderit amet qui dolore laboris. Proident tempor pariatur elit fugiat eu tempor consectetur sint et ullamco amet.
            br
            |Mollit pariatur mollit et elit adipisicing non fugiat voluptate. Pariatur laborum minim duis proident consequat. Pariatur occaecat magna eiusmod anim anim. Nostrud veniam ipsum proident cupidatat occaecat magna officia do cupidatat.
            br
            |Velit qui ut minim consectetur dolor et pariatur est. Anim proident aliqua et sit Lorem. Ex proident amet non minim aute ea est dolor. Dolore exercitation deserunt sint elit consequat esse eu ipsum do officia ea eiusmod. Culpa ipsum labore nulla enim eu do enim ex aute. Pariatur id pariatur laborum est. Pariatur adipisicing aute proident amet exercitation culpa culpa amet officia id quis tempor amet eiusmod.
            br
            |Veniam nulla ad qui incididunt in et deserunt reprehenderit. Ea est ex Lorem labore. Ullamco elit ad culpa veniam nisi minim aliqua. Dolor voluptate culpa eu quis id quis tempor sunt duis exercitation. Aliqua minim esse ea do deserunt nisi cupidatat duis pariatur magna non exercitation cupidatat. Consequat Lorem ut consectetur irure sunt Lorem do incididunt eiusmod laborum et aliqua ex ex.
            br
            |Non magna labore commodo velit anim eu aute deserunt in eu in. Veniam do ut mollit ex amet laborum pariatur ipsum occaecat labore anim tempor reprehenderit voluptate. Cupidatat et proident duis labore aliqua do nostrud est anim pariatur.
          .deco01.-anime01
          .deco02.-anime02
          .deco03.-anime03
    section.sec
      .container
        .sec_contents.-pr30
          h2.sec_ttl Background goes up
            span スクロールに合わせて上がっていく装飾
          .bg01
          p 上のロケットの移動と同じ仕組みを使っている。<br>背景をdiv要素で用意し、そのdivを移動させている。
          p
            |Excepteur occaecat aliqua tempor incididunt id laboris exercitation cupidatat ea incididunt adipisicing laboris. Excepteur quis consequat ea consectetur deserunt nisi. Amet aliquip enim ad dolore. Aute elit occaecat quis tempor consectetur sit excepteur ea non sint excepteur ullamco. Et ex elit fugiat sunt ea.
            br
            |Minim aute voluptate duis cillum sit aliquip non exercitation veniam. Deserunt nostrud cillum minim reprehenderit. Ullamco voluptate aliquip ea nulla qui in. Ea ex pariatur et magna do. Ipsum qui adipisicing sunt laboris nisi ea et incididunt do fugiat velit adipisicing laborum. In nulla et commodo dolor consequat.
    section.sec
      .container
        .sec_contents
          h2.sec_ttl Decorations go down
            span スクロールに合わせて下がっていく装飾
          p 基本的には上のロケットの移動と同じ仕組みを使っている。
          p
            |Labore deserunt labore anim magna cillum commodo ad officia. Adipisicing incididunt cupidatat in Lorem elit Lorem do magna. Esse laborum ut et id laborum consequat laboris. Eiusmod amet consequat id aliquip dolore labore amet do laborum voluptate do eu proident minim. Eiusmod dolore eu veniam veniam reprehenderit veniam. Deserunt labore sint reprehenderit amet qui dolore laboris. Proident tempor pariatur elit fugiat eu tempor consectetur sint et ullamco amet.
            br
            |Mollit pariatur mollit et elit adipisicing non fugiat voluptate. Pariatur laborum minim duis proident consequat. Pariatur occaecat magna eiusmod anim anim. Nostrud veniam ipsum proident cupidatat occaecat magna officia do cupidatat.
            br
            |Velit qui ut minim consectetur dolor et pariatur est. Anim proident aliqua et sit Lorem. Ex proident amet non minim aute ea est dolor. Dolore exercitation deserunt sint elit consequat esse eu ipsum do officia ea eiusmod. Culpa ipsum labore nulla enim eu do enim ex aute. Pariatur id pariatur laborum est. Pariatur adipisicing aute proident amet exercitation culpa culpa amet officia id quis tempor amet eiusmod.
          .deco11.-anime11
          .deco12.-anime12
          .deco13.-anime13
          .deco14.-anime11
          .deco15.-anime12
          .deco16.-anime13
          .deco17.-anime13
          .deco18.-anime11
          .deco19.-anime12
    section.sec
      .container
        .sec_contents.-pr30
          h2.sec_ttl Background goes down
            span スクロールに合わせて下がっていく装飾
          .bg02
          p
            |上の雫の移動と同じ仕組みを使っている。<br>背景をdiv要素で用意し、そのdivを移動させている。
          p
            |Excepteur occaecat aliqua tempor incididunt id laboris exercitation cupidatat ea incididunt adipisicing laboris. Excepteur quis consequat ea consectetur deserunt nisi. Amet aliquip enim ad dolore. Aute elit occaecat quis tempor consectetur sit excepteur ea non sint excepteur ullamco. Et ex elit fugiat sunt ea.
            br
            |Minim aute voluptate duis cillum sit aliquip non exercitation veniam. Deserunt nostrud cillum minim reprehenderit. Ullamco voluptate aliquip ea nulla qui in. Ea ex pariatur et magna do. Ipsum qui adipisicing sunt laboris nisi ea et incididunt do fugiat velit adipisicing laborum. In nulla et commodo dolor consequat.
    section.sec
      .container
        .sec_contents
          h2.sec_ttl Decorations move
            span 画面に入った際に動作する装飾
          p 動作内容に関わらず、同じ処理で実装できる。<br>繰り返し回数なども指定できる。（今回はそのパラメータを指定していないため１回だけ動作する）
          p
            |Labore deserunt labore anim magna cillum commodo ad officia. Adipisicing incididunt cupidatat in Lorem elit Lorem do magna. Esse laborum ut et id laborum consequat laboris. Eiusmod amet consequat id aliquip dolore labore amet do laborum voluptate do eu proident minim. Eiusmod dolore eu veniam veniam reprehenderit veniam. Deserunt labore sint reprehenderit amet qui dolore laboris. Proident tempor pariatur elit fugiat eu tempor consectetur sint et ullamco amet.
            br
            |Mollit pariatur mollit et elit adipisicing non fugiat voluptate. Pariatur laborum minim duis proident consequat. Pariatur occaecat magna eiusmod anim anim. Nostrud veniam ipsum proident cupidatat occaecat magna officia do cupidatat.
            br
            |Velit qui ut minim consectetur dolor et pariatur est. Anim proident aliqua et sit Lorem. Ex proident amet non minim aute ea est dolor. Dolore exercitation deserunt sint elit consequat esse eu ipsum do officia ea eiusmod. Culpa ipsum labore nulla enim eu do enim ex aute. Pariatur id pariatur laborum est. Pariatur adipisicing aute proident amet exercitation culpa culpa amet officia id quis tempor amet eiusmod.
          .deco01.-anime21
          .deco02.-anime22
          .deco03.-anime23
          .deco11.-anime24
          .deco15.-anime25
          .deco18.-anime26
