.page-backgroundAnimation.-backgroundAnimation041#backgroundanimation
  main.main
    section.sec
      .container
        .sec_contents
          h2.sec_ttl MEMO
            span 背景要素の移動（横方向）
          p スクロールで背景の要素が移動するよくあるパララックス。<br>スクロールのイベントの監視が必要なので、GSAPを使用している。
          p 上下のアニメーションと変わらない仕組みで実装できる。<br>ちなみに、今回は用意しなかったが斜めへの移動も同じように実装できる。
    section.sec
      .container
        .sec_contents
          h2.sec_ttl Decorations go right
            span スクロールに合わせて右に移動する装飾
          p
          p
            |Labore deserunt labore anim magna cillum commodo ad officia. Adipisicing incididunt cupidatat in Lorem elit Lorem do magna. Esse laborum ut et id laborum consequat laboris. Eiusmod amet consequat id aliquip dolore labore amet do laborum voluptate do eu proident minim. Eiusmod dolore eu veniam veniam reprehenderit veniam. Deserunt labore sint reprehenderit amet qui dolore laboris. Proident tempor pariatur elit fugiat eu tempor consectetur sint et ullamco amet.
            br
            |Mollit pariatur mollit et elit adipisicing non fugiat voluptate. Pariatur laborum minim duis proident consequat. Pariatur occaecat magna eiusmod anim anim. Nostrud veniam ipsum proident cupidatat occaecat magna officia do cupidatat.
            br
            |Velit qui ut minim consectetur dolor et pariatur est. Anim proident aliqua et sit Lorem. Ex proident amet non minim aute ea est dolor. Dolore exercitation deserunt sint elit consequat esse eu ipsum do officia ea eiusmod. Culpa ipsum labore nulla enim eu do enim ex aute. Pariatur id pariatur laborum est. Pariatur adipisicing aute proident amet exercitation culpa culpa amet officia id quis tempor amet eiusmod.
            br
            |Veniam nulla ad qui incididunt in et deserunt reprehenderit. Ea est ex Lorem labore. Ullamco elit ad culpa veniam nisi minim aliqua. Dolor voluptate culpa eu quis id quis tempor sunt duis exercitation. Aliqua minim esse ea do deserunt nisi cupidatat duis pariatur magna non exercitation cupidatat. Consequat Lorem ut consectetur irure sunt Lorem do incididunt eiusmod laborum et aliqua ex ex.
            br
            |Non magna labore commodo velit anim eu aute deserunt in eu in. Veniam do ut mollit ex amet laborum pariatur ipsum occaecat labore anim tempor reprehenderit voluptate. Cupidatat et proident duis labore aliqua do nostrud est anim pariatur.
          .deco_h01.-animeH01
          .deco_h02.-animeH02
          .deco_h03.-animeH03
    section.sec
      .container
        .sec_contents.-pr30
          h2.sec_ttl Background goes to right
            span スクロールに合わせて右に行く装飾
          .bg_h01
          p
            |Excepteur occaecat aliqua tempor incididunt id laboris exercitation cupidatat ea incididunt adipisicing laboris. Excepteur quis consequat ea consectetur deserunt nisi. Amet aliquip enim ad dolore. Aute elit occaecat quis tempor consectetur sit excepteur ea non sint excepteur ullamco. Et ex elit fugiat sunt ea.
            br
            |Minim aute voluptate duis cillum sit aliquip non exercitation veniam. Deserunt nostrud cillum minim reprehenderit. Ullamco voluptate aliquip ea nulla qui in. Ea ex pariatur et magna do. Ipsum qui adipisicing sunt laboris nisi ea et incididunt do fugiat velit adipisicing laborum. In nulla et commodo dolor consequat.
    section.sec
      .container
        .sec_contents
          h2.sec_ttl Decorations go to left
            span スクロールに合わせて左に行く装飾
          p
            |Labore deserunt labore anim magna cillum commodo ad officia. Adipisicing incididunt cupidatat in Lorem elit Lorem do magna. Esse laborum ut et id laborum consequat laboris. Eiusmod amet consequat id aliquip dolore labore amet do laborum voluptate do eu proident minim. Eiusmod dolore eu veniam veniam reprehenderit veniam. Deserunt labore sint reprehenderit amet qui dolore laboris. Proident tempor pariatur elit fugiat eu tempor consectetur sint et ullamco amet.
            br
            |Mollit pariatur mollit et elit adipisicing non fugiat voluptate. Pariatur laborum minim duis proident consequat. Pariatur occaecat magna eiusmod anim anim. Nostrud veniam ipsum proident cupidatat occaecat magna officia do cupidatat.
            br
            |Velit qui ut minim consectetur dolor et pariatur est. Anim proident aliqua et sit Lorem. Ex proident amet non minim aute ea est dolor. Dolore exercitation deserunt sint elit consequat esse eu ipsum do officia ea eiusmod. Culpa ipsum labore nulla enim eu do enim ex aute. Pariatur id pariatur laborum est. Pariatur adipisicing aute proident amet exercitation culpa culpa amet officia id quis tempor amet eiusmod.
          .deco_h11.-animeH11
          .deco_h12.-animeH12
          .deco_h13.-animeH13
          .deco_h14.-animeH11
          .deco_h15.-animeH12
          .deco_h16.-animeH13
    section.sec
      .container
        .sec_contents.-pr30
          h2.sec_ttl Background goes to left
            span スクロールに合わせて左に行く装飾
          .bg_h02
          p
            |Excepteur occaecat aliqua tempor incididunt id laboris exercitation cupidatat ea incididunt adipisicing laboris. Excepteur quis consequat ea consectetur deserunt nisi. Amet aliquip enim ad dolore. Aute elit occaecat quis tempor consectetur sit excepteur ea non sint excepteur ullamco. Et ex elit fugiat sunt ea.
            br
            |Minim aute voluptate duis cillum sit aliquip non exercitation veniam. Deserunt nostrud cillum minim reprehenderit. Ullamco voluptate aliquip ea nulla qui in. Ea ex pariatur et magna do. Ipsum qui adipisicing sunt laboris nisi ea et incididunt do fugiat velit adipisicing laborum. In nulla et commodo dolor consequat.
    section.sec
      .container
        .sec_contents
          h2.sec_ttl Decorations move
            span 画面に入った際に動作する装飾
          p 動作内容に関わらず、同じ処理で実装できる。<br>繰り返し回数なども指定できる。（今回はそのパラメータを指定していないため１回だけ動作する）
          p
            |Labore deserunt labore anim magna cillum commodo ad officia. Adipisicing incididunt cupidatat in Lorem elit Lorem do magna. Esse laborum ut et id laborum consequat laboris. Eiusmod amet consequat id aliquip dolore labore amet do laborum voluptate do eu proident minim. Eiusmod dolore eu veniam veniam reprehenderit veniam. Deserunt labore sint reprehenderit amet qui dolore laboris. Proident tempor pariatur elit fugiat eu tempor consectetur sint et ullamco amet.
            br
            |Mollit pariatur mollit et elit adipisicing non fugiat voluptate. Pariatur laborum minim duis proident consequat. Pariatur occaecat magna eiusmod anim anim. Nostrud veniam ipsum proident cupidatat occaecat magna officia do cupidatat.
            br
            |Velit qui ut minim consectetur dolor et pariatur est. Anim proident aliqua et sit Lorem. Ex proident amet non minim aute ea est dolor. Dolore exercitation deserunt sint elit consequat esse eu ipsum do officia ea eiusmod. Culpa ipsum labore nulla enim eu do enim ex aute. Pariatur id pariatur laborum est. Pariatur adipisicing aute proident amet exercitation culpa culpa amet officia id quis tempor amet eiusmod.
          .deco_h01.-animeH21
          .deco_h02.-animeH22
          .deco_h03.-animeH23
          .deco_h11.-animeH24
          .deco_h12.-animeH25
          .deco_h13.-animeH26
