@use "../abstracts" as *;
@use "sass:math";
@use "sass:list";

// 水平スクロール
.horizontalScrollWrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: repeating-linear-gradient(
    -45deg,
    rgba($colorFrame, 0.03),
    rgba($colorFrame, 0.03) 15px,
    #fff 15px,
    #fff 30px
  );
  &.-halfHeight {
    height: 50vh;
  }
  &.-halfHeight2 {
    height: 100vh;
    .horizontalScrollContents {
      align-items: center;
    }
    .sec2 {
      max-height: 50vh;
    }
  }
}
.horizontalScrollContents {
  position: absolute;
  display: flex;
  height: 100%;
}

// 以下装飾
.page-crossScroll {
  .sec {
    position: relative;
    padding: 10rem;
    @for $i from 1 through list.length($mainColors) {
      &:nth-of-type(#{list.length($mainColors)}n + #{$i}) {
        background: list.nth(
          $mainColors,
          (($i - 1) % list.length($mainColors) + 1)
        );
      }
    }
    &_contents {
      padding: 5rem;
      overflow-y: auto;
      background: #fff;
      box-shadow: none;
      transition: 0.5s;
      @include mq() {
        padding: 3rem 2rem;
      }
    }
    &_ttl {
      font-family: $fontEn;
      font-size: 4.2rem;
      @include mq() {
        font-size: 3.2rem;
      }
      span {
        padding-left: 0.5em;
        font-size: 50%;
        &::before {
          content: " / ";
        }
      }
    }
    p {
      margin-top: 2em;
      line-height: 2;
      @include mq() {
        font-size: 1.4rem;
      }
    }
  }
  &.-scrollsnap002 {
    .main {
      display: flex;
      width: 700vw;
    }
  }
  .sec2 {
    width: 50vw;
    min-width: 350px;
    height: 100%;
    padding: 5rem 0;
    @for $i from 1 through list.length($mainColors) {
      &:nth-of-type(#{list.length($mainColors)}n + #{$i}) {
        .sec2_contents {
          background: list.nth(
            $mainColors,
            (($i - 1) % list.length($mainColors) + 1)
          );
        }
      }
    }
    .container {
      height: 100%;
    }
    &_contents {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 3rem;
      overflow-y: auto;
      box-shadow: 2px 2px 30px rgba($colorText, 0.1);
    }
    &_ttl {
      font-family: $fontEn;
      font-size: 2.8rem;
      text-align: center;
      @include mq() {
        font-size: 2rem;
      }
    }
    .pic {
      width: 80%;
      max-width: 300px;
      margin: 2rem auto 0;
    }
    p {
      margin-top: 2rem;
      @include mq() {
        font-size: 1.4rem;
      }
    }
  }
  .subttl {
    padding: 1em;
    font-size: 3rem;
    text-align: center;
  }
}
