@use "../abstracts" as *;
@use "sass:math";
@use "sass:list";

.page-sectionAnimation {
  &.-sectionAnimation031 {
    .main {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      height: calc(var(--vh, 1vh) * 100);
      transform-style: preserve-3d;
      perspective: 500px;
    }
    .sec {
      position: absolute;
      inset: 0;
      width: 90%;
      max-width: 800px;
      height: 80vh;
      padding: 2rem;
      margin: auto;
      border: 1px solid $colorFrame;
      transition: 0.3s;
      @for $i from 1 through list.length($mainColors) {
        &:nth-of-type(#{list.length($mainColors)}n + #{$i}) {
          background: list.nth(
            $mainColors,
            (($i - 1) % list.length($mainColors) + 1)
          );
        }
      }
      &_contents {
        position: relative;
        height: calc(80vh - 4rem);
        overflow-y: auto;
      }
      &_ttl {
        padding: 0.5em 0;
        font-family: $fontEn;
        font-size: 3.6rem;
        text-align: center;
        @include mq() {
          font-size: 3.2rem;
        }
        span {
          padding-left: 0.5em;
          font-size: 50%;
          &::before {
            content: " / ";
          }
        }
      }
      p {
        margin-top: 2em;
        line-height: 2;
        @include mq() {
          font-size: 1.4rem;
        }
      }
      ol {
        counter-reset: number;
        li {
          display: flex;
          align-items: baseline;
          line-height: 1.5;
          &::before {
            flex-shrink: 0;
            width: 1.7em;
            font-family: $fontEn;
            content: counter(number) ".";
            counter-increment: number;
          }
          + li {
            margin-top: 0.5em;
          }
        }
      }
    }
  }
  &.-sectionAnimation032 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #0f0b1d;
    .main {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      height: calc(var(--vh, 1vh) * 100);
      transform-style: preserve-3d;
      perspective: 500px;
    }
    .sec {
      position: absolute;
      width: 90%;
      max-width: 800px;
      height: 80vh;
      padding: 2rem;
      margin: auto;
      // border: 1px solid #00f;
      transition: 1s;
      &_contents {
        position: relative;
        height: calc(80vh - 4rem);
        overflow-y: auto;
      }
      &_ttl {
        padding: 0.5em 0;
        font-family: $fontEn;
        font-size: 3.6rem;
        font-size: 3.2rem;
        color: #fff;
        text-align: center;
        text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.5);
        span {
          padding-left: 0.5em;
          font-size: 50%;
          &::before {
            content: " / ";
          }
        }
      }
      p {
        margin-top: 2em;
        line-height: 2;
        color: #fff;
        text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.5);
        @include mq() {
          font-size: 1.4rem;
        }
        a {
          display: inline-block;
          color: #fff;
          text-decoration: underline;
        }
      }
    }
    .kira {
      position: absolute;
      width: 2px;
      height: 2px;
      background: #fff;
      border-radius: 50%;
      &::before {
        position: absolute;
        top: 30px;
        left: -50px;
        display: block;
        width: 50%;
        aspect-ratio: 1;
        content: "";
        background: inherit;
        border-radius: 50%;
      }
      &::after {
        position: absolute;
        top: 10px;
        left: -20px;
        display: block;
        width: 300%;
        height: 600%;
        content: "";
        background: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2280.167%22%20height%3D%2297.129%22%20viewBox%3D%220%200%2080.167%2097.129%22%3E%20%3Cpath%20id%3D%22%E3%83%91%E3%82%B9_3%22%20data-name%3D%22%E3%83%91%E3%82%B9%203%22%20d%3D%22M1181.242%2C4574.9c-.164%2C2.109-1.528%2C17.722-9.126%2C26.368s-29.991%2C12.823-29.991%2C12.823%2C17.222%2C1.222%2C25.958%2C7.626%2C13.23%2C50.671%2C13.158%2C50.31c.28-.192%2C1.6-41.7%2C10.272-50.31s30.778-7.626%2C30.778-7.626-26.176-2.883-34.165-12.823S1181.242%2C4574.9%2C1181.242%2C4574.9Z%22%20transform%3D%22translate(-1142.125%20-4574.897)%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E")
          center center / contain no-repeat;
        animation: kirakira 1s infinite;
      }
      @for $i from 1 through 10 {
        &:nth-of-type(#{$i}) {
          top: random(100) * 1%;
          left: random(100) * 1%;
          &::before {
            top: random(100) * 50%;
            left: random(100) * 50%;
            width: random(100) * 1%;
          }
          &::after {
            top: random(100) * 40%;
            left: random(100) * 40%;
            height: (400 + 2 * random(100)) * 1%;
            animation-delay: $i * 0.3s;
          }
        }
      }
    }
    @keyframes kirakira {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(0.8);
      }
      100% {
        transform: scale(1);
      }
    }
  }
  &.-sectionAnimation033 {
    .sec033FixedArea {
      position: relative;
    }
    .sec033Container {
      position: sticky;
      top: 100px;
      width: 100%;
      max-width: 1000px;
      height: calc(100vh - 200px);
      margin: 0 auto;
    }
    .figure {
      position: absolute;
      top: 50%;
      left: 1px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 45%;
      height: 100%;
      transform: translateY(-50%);
      @include mq() {
        top: 1%;
        left: 0;
        width: 100%;
        height: 40%;
        transform: none;
      }
      &[data-currentno="1"] {
        ol::before {
          clip-path: polygon(
            50% 0,
            100% 0,
            100% 50%,
            100% 50%,
            50% 50%,
            50% 50%,
            50% 50%
          );
        }
        li:nth-child(2) {
          &::before {
            background-color: $color02;
          }
        }
      }
      &[data-currentno="2"] {
        ol::before {
          clip-path: polygon(
            50% 0,
            100% 0,
            100% 100%,
            50% 100%,
            50% 50%,
            50% 50%,
            50% 50%
          );
        }
        li:nth-child(2) {
          &::before {
            background-color: $color02;
          }
        }
        li:nth-child(3) {
          &::before {
            background-color: $color03;
          }
        }
      }
      &[data-currentno="3"] {
        ol::before {
          clip-path: polygon(
            50% 0,
            100% 0,
            100% 100%,
            0 100%,
            0 50%,
            50% 50%,
            50% 50%
          );
        }
        li:nth-child(2) {
          &::before {
            background-color: $color02;
          }
        }
        li:nth-child(3) {
          &::before {
            background-color: $color03;
          }
        }
        li:nth-child(4) {
          &::before {
            background-color: $color04;
          }
        }
      }
      ol {
        position: relative;
        flex-grow: 0;
        flex-shrink: 0;
        width: min(44vw, 100vh - 200px, 368px);
        height: min(44vw, 100vh - 200px, 368px);
        list-style: none;
        counter-reset: number;
        border: 1px solid #ddd;
        border-radius: 50%;
        object-fit: contain;
        @include mq() {
          font-size: 10px;
        }
        &::before {
          position: absolute;
          top: -3px;
          left: -3px;
          display: block;
          width: calc(100% + 6px);
          height: calc(100% + 6px);
          clip-path: polygon(
            50% 0,
            50% 0,
            100% 50%,
            100% 50%,
            50% 50%,
            50% 50%,
            50% 50%
          );
          content: "";
          border: 6px solid $colorFrame;
          border-radius: 50%;
          transition: clip-path 0.3s;
        }
        li {
          font-family: $fontEn;
          font-size: min(2vw, 4vh, 20px);
          font-weight: bold;
          &::before {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 1.7em;
            height: 1.7em;
            content: counter(number);
            counter-increment: number;
            background: #fff;
            border: 1px solid $colorFrame;
            transition: background-color 0.3s 0.2s;
          }
          span {
            position: absolute;
          }
          &:nth-child(1) {
            &::before {
              top: 0;
              left: 50%;
              background: $color01;
              transform: translate(-50%, -50%);
            }
            span {
              top: 2em;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
          &:nth-child(2) {
            &::before {
              top: 50%;
              left: 100%;
              transform: translate(-50%, -50%);
            }
            span {
              top: 50%;
              left: calc(100% - 3em);
              transform: translate(-50%, -50%);
            }
          }
          &:nth-child(3) {
            &::before {
              top: 100%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
            span {
              top: calc(100% - 2em);
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
          &:nth-child(4) {
            &::before {
              top: 50%;
              left: 0;
              transform: translate(-50%, -50%);
            }
            span {
              top: 50%;
              left: 3em;
              transform: translate(-50%, -50%);
            }
          }
        }
      }
    }
    .sec {
      position: absolute;
      top: 50%;
      right: 0;
      width: 50%;
      opacity: 0;
      transition: opacity 0.3s;
      transform: translateY(-50%);
      @include mq() {
        top: 50%;
        left: 0;
        width: 100%;
        height: 50%;
        transform: none;
        p {
          font-size: 1.2rem;
        }
      }
      &_ttl {
        padding: 0.5em 0;
        margin-bottom: 1em;
        font-family: $fontEn;
        font-size: 2.2rem;
        span {
          padding-left: 0.5em;
          font-size: 50%;
          &::before {
            content: " / ";
          }
        }
      }
      &[data-paperno="0"] {
        opacity: 1;
      }
    }
    .sec2 {
      .container {
        padding: 100px 1em;
        border-top: 1px solid $colorFrame;
        border-bottom: 1px solid $colorFrame;
      }
      &_ttl {
        padding: 0.5em 0;
        margin-bottom: 1em;
        font-family: $fontEn;
        font-size: 2.2rem;
        span {
          padding-left: 0.5em;
          font-size: 50%;
          &::before {
            content: " / ";
          }
        }
      }
      + .sec2 {
        .container {
          border-top: none;
        }
      }
    }
  }
}
.scrollCont {
  position: relative;
  z-index: -10;
}
